body{
	background-color: #ffffff;
	font-size: 16px;
}

header{
	background-color: #ffffff;
}
header h1{
	font-size: 2em;
	text-align: right;
	line-height: 1.1em;
}
#content-main{
}
.tabs-content{
	padding-top: 25px!important;
	background-color: #ffffff;
}
#main-tabs{
	background-color: #ffffff;
}


table{}
	table thead {
		background-color: #68abe3;
		border-bottom: 3px solid #1570bc;
	}
	table thead tr{}
	table thead tr th{
		font-size: 0.9em;
		color: #ffffff;
		font-weight: 400;
	}
	table tbody {}
	table tbody tr{}
	table tbody tr td{
		font-size: 0.8em;
	}

	td, th {
    padding: 7px 5px!important;
}
.bl-txt{
	font-weight: bolder;
}

.modal-footer a{
	display: inline-block;
	margin-right: 10px!important;
	background-color: #ededed;
}

h1{
	font-size: 2.8em;
	color: #1570BC;
}
h2{
	font-size: 2.3em;
	color: #1570BC;
}
h3{
	font-size: 1.8em;
	color: #1570BC;
}
h4{
	font-size: 1.3em;
	color: #1570BC;
}
h5{
	font-size: 0.7em;
	color: #1570BC;
}

.tabs .tab a{
	font-size: 0.8em;
	color: #1570BC;
}
.tabs .tab a:hover{
	color: #0b487b;
}
.tabs .indicator{
	background-color: #1570BC;	
}